/* .slick-arrow:before{
    color: green ;
    font-size: 50px !important;
}

.slick-prev{
    top: -30px !important;
    left: 700px !important;
}

.slick-next{
    top: -30px !important;
    left: 750px !important;
} */
   


